@font-face {
    font-family: "Nexa";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/Nexa Regular.otf') format('opentype');
}

@font-face {
    font-family: "Nexa";
    font-weight: bold;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/nexa-bold.otf') format('opentype');
}

@font-face {
    font-family: "Nexa";
    font-weight: 200;
    font-style: normal;
    font-display: auto;
    src: url('/fonts/nexa-light.otf') format('opentype');
}

.nexa-light {
    font-family: "Nexa";
    font-weight: 200;
}

.nexa-normal {
    font-family: "Nexa";
    font-weight: 400;
}

.nexa-bold {
    font-family: "Nexa";
    font-weight: bold;
}